$colors: (
  nav-bg: #be3144,
  text-color: #f0f0f0,
  bg: #303841,
);
$font: "Poppins", sans-serif;
$mobile: 700px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}
html {
  background-color: color(bg);
}

body {
  margin: 0;
  padding: 0;

  font-family: $font;
  color: color(text-color);

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: color(nav-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    .nav-links {
      display: flex;
      margin-right: 2rem;

      li {
        list-style: none;
      }
      a {
        font-size: 1.5rem;
        text-decoration: none;
        cursor: pointer;
        padding: 1.1rem;
        color: color(text-color);
      }
      a:hover {
        background-color: #45567d;
      }
    }
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.welcome {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: color(welcome);
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    @include mobile {
      font-size: 3rem;
    }
  }
  p {
    color: color(nav-bg);
    font-size: 1.8rem;
    font-weight: 1000;
    font-style: italic;
  }
}

.projects {
  background-color: #45567d;
  padding: 5rem 2rem;
  text-align: center;
  h2 {
    font-family: "Raleway", sans-serif;
    max-width: 600px;
    margin: 0 auto 3rem auto;
    font-weight: 700;
    font-size: 2.5rem;
    border-bottom: 0.1rem solid #f0f0f0;
  }

  .project-links {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    a {
      width: 90%;
      margin: auto;
      text-decoration: none;
      color: color(text-color);
      border-radius: 2px;
      background-color: #3a3d40;
      img {
        max-width: 100%;
        display: block;
      }
      .arrows {
        color: #3a3d40;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
      }
      .title {
        font-size: 1rem;
      }
    }
    a:hover .arrows {
      color: rgb(255, 166, 0);
    }
  }
  a {
    button {
      margin-top: 2rem;
      padding: 0.7rem 1.5rem;
      color: #f0f0f0;
      background-color: #3a3d40;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-size: large;
      font-weight: 400;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    button:hover {
      background-color: #be3144;
    }
    p {
      padding: 1.2rem 0;
    }
    i {
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  }
  a:hover i {
    margin-left: 0.3rem;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 78vh;
  h2 {
    font-size: 4rem;
    margin-bottom: 0;
    @include mobile {
      font-size: 2.5rem;
    }
  }
  p {
    font-style: italic;
  }
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    a {
      text-decoration: none;
      color: #f0f0f0;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    a:hover {
      padding-top: 10px;
    }
  }
}
